$space-large: 2.5rem;
$title-color: #555;
.pageTitle {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type='search'] {
    box-shadow: none;
}

input[type='search']:focus {
    box-shadow: none;
}